<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Nombre del Comercio</h5>
      <img class="card-img-top" src="..." alt="Card image cap">
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Categoria :</li>
      <li class="list-group-item">Rating: <ngb-rating [rate]="3"></ngb-rating> </li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link" (click)="open(content)">Detalles</a>
    </div>
</div>