<div class="uimax-block-section-26">
    <div class="container">
        <div class="product-list">
          <div class="item">
            <div class="product-item">
              <div class="pic-wrapper">
                <a href="" class="inner">
                  <img src="{{product.img}}" alt="" class="pic" />
                </a>
              </div>
              <div class="product-desc">
                <h2 class="name"><a href="">{{product.name}}</a></h2>
                <div class="price">{{product.price}}</div>
                <div class="stock">{{product.cantidad}}</div>
                <div class="stock-empty">Agotado</div>
              </div>
              <span class="sale">sale</span>
              <a href="#" class="btn btn-add-cart" (click)="open()" >addcart</a>
            </div>
          </div>
        </div>
    </div>
  </div>
