<app-nav></app-nav>
<div class="container">
  <div class="starter-template">
      <div class="card" style="width: 18rem;">
          <h5 class="card-title">Nombre del Comercio</h5>
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Pequeña Descripcion del comercio al cual se le pueden ver los detalles en la pestaña de detalles</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Sector: Alimentos</li>
            <li class="list-group-item">Rating: 5 estrellas</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Detalles</a>
          </div>
      </div>  
  </div>
</div>
<app-footer></app-footer>