/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  padding-top: 2rem;
  background-color: #efefef;
  font-family: 'Roboto', sans-serif !important;
  color: #616161 !important;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.cntr{
  padding-left: 125px !important;
}
@media only screen and (max-width: 600px) {
  .cntr{
    padding-left: 60px !important;
  }
} 

// button variables
$button-color:blue;
$button-hover:#fff;
$button-hover2: #212121;
$border-radius:8px;

// button mixins
@mixin button($icon, $color){
 color:$color;
 &::before{
  content:$icon;
 }
 &:hover{
  background:$color;
 }
 &:active{
  background:darken($color, 10%);
 }
}

// .button styles
.button{
background-color: #212121;
display:inline-block;
text-align:center;
text-decoration:none;
font-weight:bold;
border-radius:5px;
 &::before {
  font-family: FontAwesome;
  padding-right:.3em;
 }
 &:hover{
  color:$button-hover2;
 }
}

.button-4{
 @include button('\f105',$button-hover);
}

.dropdown-item.active, .dropdown-item {
  &:active{
    background-color: $button-hover2 !important;
  }
  &:hover {
  background-color: $button-hover2 !important;
  color: $button-hover;
  }
}

a{
  color:$button-hover2;
  &:hover{
    color: #0ca8a8;
  }
}



